# Python
__pycache__/
*.pyc
.venv/
.mypy_cache/
.pytest_cache/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
crash.log
# Ignore variable files with secrets
*.tfvars

# OS/IDEs
.DS_Store
.vscode/